
.container{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loginContainer{
    padding-left: 10%;
}

input{
    margin: 1%;
    height: 40px;
    width: 80%;
    background-color: #3E3E3E;
    color: white;
    border-radius: 5px;

}
.loginDiv{
 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    height: 40%;
    width: 25%;
    min-height: fit-content;
    min-width: fit-content;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   border-radius: 8px;
}
h1{
    margin: 1%;
}
